## 1. Verify Spark → HDFS connectivity and to inspect the schema / a few rows.

In [31]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("spark://spark-master:7077").appName("smoke_test").getOrCreate()

# read just the first 1000 lines to check connectivity/schema quickly
df = spark.read.option("header","true").csv("hdfs://namenode:8020/data/flights/2006.csv")
print("schema:")
df.printSchema()
print("show 10 rows:")
df.show(10, truncate=False)
print("sample count (limit 1000 staged):")
print(df.limit(1000).count())

schema:
root
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: string (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: string (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: string (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: string (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)

show 10 rows:
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2006|1    |11        |3        |743    |745       |1024   |1018      |US           |343      |N657AW |281              |273           |223    |6       |-2      |ATL   |PHX |1587    |45    |13     |0        |null            |0       |0           |0           |0       |0            |0                |
|2006|1    |11        |3        |1053   |1053      |1313   |1318      |US           |613      |N834AW |260              |265           |214    |-5      |0       |ATL   |PHX |1587    |27    |19     |0        |null            |0       |0           |0           |0       |0            |0                |
|2006|1    |11        |3        |1915   |1915      |2110   |2133      |US           |617      |N605AW |235              |258           |220    |-23     |0       |ATL   |PHX |1587    |4     |11     |0        |null            |0       |0           |0           |0       |0            |0                |
|2006|1    |11        |3        |1753   |1755      |1925   |1933      |US           |300      |N312AW |152              |158           |126    |-8      |-2      |AUS   |PHX |872     |16    |10     |0        |null            |0       |0           |0           |0       |0            |0                |
|2006|1    |11        |3        |824    |832       |1015   |1015      |US           |765      |N309AW |171              |163           |132    |0       |-8      |AUS   |PHX |872     |27    |12     |0        |null            |0       |0           |0           |0       |0            |0                |
|2006|1    |11        |3        |627    |630       |834    |832       |US           |295      |N733UW |127              |122           |108    |2       |-3      |BDL   |CLT |644     |6     |13     |0        |null            |0       |0           |0           |0       |0            |0                |
|2006|1    |11        |3        |825    |820       |1041   |1021      |US           |349      |N177UW |136              |121           |111    |20      |5       |BDL   |CLT |644     |4     |21     |0        |null            |0       |0           |0           |20      |0            |0                |
|2006|1    |11        |3        |942    |945       |1155   |1148      |US           |356      |N404US |133              |123           |121    |7       |-3      |BDL   |CLT |644     |4     |8      |0        |null            |0       |0           |0           |0       |0            |0                |
|2006|1    |11        |3        |1239   |1245      |1438   |1445      |US           |775      |N722UW |119              |120           |103    |-7      |-6      |BDL   |CLT |644     |4     |12     |0        |null            |0       |0           |0           |0       |0            |0                |
|2006|1    |11        |3        |1642   |1645      |1841   |1845      |US           |1002     |N104UW |119              |120           |105    |-4      |-3      |BDL   |CLT |644     |4     |10     |0        |null            |0       |0           |0           |0       |0            |0                |
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 10 rows

sample count (limit 1000 staged):
1000

In [32]:
df = spark.read.option("header","true").csv("hdfs://namenode:8020/data/flights/2006.csv")
print(df.count())

7141922

## 2. Convert the CSV to Parquet (typed, splittable, faster queries), then register it as a Hive external table.

In [33]:
spark = SparkSession.builder \
    .master("spark://spark-master:7077") \
    .appName("etl_flights") \
    .getOrCreate()

src = "hdfs://namenode:8020/data/flights/2006.csv"
out_path = "hdfs://namenode:8020/data/parquet/flights_2006"

# read with inferred schema
df = spark.read.option("header","true").option("inferSchema","true").csv(src)

# light cleaning example: drop rows missing Year/Month if those columns exist
if 'Year' in df.columns and 'Month' in df.columns:
    df_clean = df.dropna(subset=['Year','Month'])
    df_clean.repartition(8).write.mode("overwrite").partitionBy("Year","Month").parquet(out_path)
else:
    df_clean = df
    df_clean.repartition(8).write.mode("overwrite").parquet(out_path)

print("Wrote parquet to:", out_path)

Wrote parquet to: hdfs://namenode:8020/data/parquet/flights_2006

In [34]:
spark = SparkSession.builder.master("spark://spark-master:7077").appName("count_parquet").getOrCreate()
dfp = spark.read.parquet("hdfs://namenode:8020/data/parquet/flights_2006")
print('parquet rows:', dfp.count())

parquet rows: 7141922

In [35]:
# example partitioning by Year and Month if present
if 'Year' in df.columns and 'Month' in df.columns:
    df_clean = df.dropna(subset=['Year','Month'])
    df_clean.repartition(8).write.mode("overwrite").partitionBy("Year","Month").parquet(out_path)
else:
    df.repartition(8).write.mode("overwrite").parquet(out_path)

## 3.  Partition the Parquet output based on Year/Month columns

In [36]:
# stop any existing session cleanly
try:
    spark
    try:
        spark.stop()
    except Exception:
        pass
except NameError:
    pass

spark = SparkSession.builder \
    .master("spark://spark-master:7077") \
    .appName("register_with_hive") \
    .config("spark.sql.warehouse.dir", "hdfs://namenode:8020/user/hive/warehouse") \
    .enableHiveSupport() \
    .getOrCreate()

print("catalogImplementation:", spark.conf.get("spark.sql.catalogImplementation"))

catalogImplementation: hive

In [37]:
spark = SparkSession.builder \
    .master("spark://spark-master:7077") \
    .appName("etl_flights_write_parquet") \
    .getOrCreate()

src = "hdfs://namenode:8020/data/flights/2006.csv"
out_path = "hdfs://namenode:8020/data/parquet/flights_2006"

print("Reading CSV from", src)
df = spark.read.option("header","true").option("inferSchema","true").csv(src)
print("CSV rows (sample):", df.limit(5).count())

# choose partitioning if Year/Month exist
if 'Year' in df.columns and 'Month' in df.columns:
    print("Partitioning by Year,Month")
    df_clean = df.dropna(subset=['Year','Month'])
    df_clean.repartition(8).write.mode("overwrite").partitionBy("Year","Month").parquet(out_path)
else:
    print("No Year/Month columns found – writing without partitioning")
    df.repartition(8).write.mode("overwrite").parquet(out_path)

print("Wrote parquet to:", out_path)

Reading CSV from hdfs://namenode:8020/data/flights/2006.csv
CSV rows (sample): 5
Partitioning by Year,Month
Wrote parquet to: hdfs://namenode:8020/data/parquet/flights_2006

### 4. Register Hive external table via Spark (enable Hive support):

In [38]:
import traceback

# stop prior session if any (avoids "stopped SparkContext" issues)
try:
    spark.stop()
except Exception:
    pass

# Create SparkSession with Hive support and explicit metastore URI
spark = SparkSession.builder \
    .appName("register_flights_parquet") \
    .master("spark://spark-master:7077") \
    .enableHiveSupport() \
    .config("spark.sql.warehouse.dir", "hdfs://namenode:8020/user/hive/warehouse") \
    .config("spark.hadoop.hive.metastore.uris", "thrift://hive-metastore:9083") \
    .getOrCreate()

print("Spark session created. Catalog implementation:", spark.conf.get("spark.sql.catalogImplementation"))

# quick metastore connectivity checks
try:
    print("Databases:")
    spark.sql("SHOW DATABASES").show()
    print("Tables in default:")
    spark.sql("SHOW TABLES IN default").show()
except Exception:
    print("Error while listing catalog objects:")
    traceback.print_exc()

parquet_path = "hdfs://namenode:8020/data/parquet/flights_2006"
table_name = "flights_2006_staged"

# Sanity read direct from Parquet
print("Reading parquet directly to validate data is readable:")
try:
    df = spark.read.parquet(parquet_path)
    df.show(5)
    print("Row count (spark read):", df.count())
except Exception:
    print("Failed to read parquet directly:")
    traceback.print_exc()

# Try to create an EXTERNAL table that points to the parquet directory
print("Creating EXTERNAL table in metastore (will DROP if exists)...")
try:
    spark.sql(f"DROP TABLE IF EXISTS {table_name}")
    spark.sql(f"CREATE EXTERNAL TABLE {table_name} USING PARQUET LOCATION '{parquet_path}'")
    print("Table created. Verifying count from metastore-backed table:")
    spark.sql(f"SELECT COUNT(*) AS cnt FROM {table_name}").show()
except Exception as e:
    print("CREATE TABLE / verification failed. Full traceback below:")
    traceback.print_exc()
    # attempt to print Java exception detail if available
    try:
        print("Java exception:", e.java_exception.toString())
    except Exception:
        pass

Spark session created. Catalog implementation: hive
Databases:
+------------+
|databaseName|
+------------+
|     default|
+------------+

Tables in default:
+--------+-------------------+-----------+
|database|          tableName|isTemporary|
+--------+-------------------+-----------+
| default|flights_2006_staged|      false|
+--------+-------------------+-----------+

Reading parquet directly to validate data is readable:
+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+----+-----+
|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|Year|Month|
+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+----+-----+
|        13|        7|   1748|      1800|   1947|      1952|           XE|     2793| N14162|              119|           112|     97|      -5|     -12|   PVD| CLE|     540|     3|     19|        0|            null|       0|           0|           0|       0|            0|                0|2006|    8|
|        24|        4|   1422|      1318|   1609|      1455|           XE|     2807| N12921|              107|            97|     79|      74|      64|   IAH| PNS|     489|     3|     25|        0|            null|       0|          64|           0|      10|            0|                0|2006|    8|
|        31|        4|   1954|      1950|   2103|      2105|           WN|     2290| N637SW|               69|            75|     59|      -2|       4|   PVD| BWI|     328|     2|      8|        0|            null|       0|           0|           0|       0|            0|                0|2006|    8|
|        31|        4|   1503|      1425|   1555|      1522|           YV|     5079| N913FJ|              112|           117|     89|      33|      38|   CLT| STL|     575|     5|     18|        0|            null|       0|          33|           0|       0|            0|                0|2006|    8|
|        27|        7|   1135|      1055|   1355|      1315|           WN|     1712|   N341|              140|           140|    115|      40|      40|   BWI| TPA|     842|     3|     22|        0|            null|       0|          40|           0|       0|            0|                0|2006|    8|
+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+----+-----+
only showing top 5 rows

Row count (spark read): 7141922
Creating EXTERNAL table in metastore (will DROP if exists)...
CREATE TABLE / verification failed. Full traceback below:

Traceback (most recent call last):
  File "/usr/local/spark/python/pyspark/sql/utils.py", line 63, in deco
    return f(*a, **kw)
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/protocol.py", line 328, in get_return_value
    format(target_id, ".", name), value)
py4j.protocol.Py4JJavaError: An error occurred while calling o1546.sql.
: org.apache.spark.sql.catalyst.parser.ParseException:
Operation not allowed: CREATE EXTERNAL TABLE ... USING(line 1, pos 0)

== SQL ==
CREATE EXTERNAL TABLE flights_2006_staged USING PARQUET LOCATION 'hdfs://namenode:8020/data/parquet/flights_2006'
^^^

	at org.apache.spark.sql.catalyst.parser.ParserUtils$.operationNotAllowed(ParserUtils.scala:41)
	at org.apache.spark.sql.execution.SparkSqlAstBuilder$$anonfun$visitCreateTable$1.apply(SparkSqlParser.scala:404)
	at org.apache.spark.sql.execution.SparkSqlAstBuilder$$anonfun$visitCreateTable$1.apply(SparkSqlParser.scala:401)
	at org.apache.spark.sql.catalyst.parser.ParserUtils$.withOrigin(ParserUtils.scala:108)
	at org.apache.spark.sql.execution.SparkSqlAstBuilder.visitCreateTable(SparkSqlParser.scala:401)
	at org.apache.spark.sql.execution.SparkSqlAstBuilder.visitCreateTable(SparkSqlParser.scala:55)
	at org.apache.spark.sql.catalyst.parser.SqlBaseParser$CreateTableContext.accept(SqlBaseParser.java:1390)
	at org.antlr.v4.runtime.tree.AbstractParseTreeVisitor.visit(AbstractParseTreeVisitor.java:18)
	at org.apache.spark.sql.catalyst.parser.AstBuilder$$anonfun$visitSingleStatement$1.apply(AstBuilder.scala:72)
	at org.apache.spark.sql.catalyst.parser.AstBuilder$$anonfun$visitSingleStatement$1.apply(AstBuilder.scala:72)
	at org.apache.spark.sql.catalyst.parser.ParserUtils$.withOrigin(ParserUtils.scala:108)
	at org.apache.spark.sql.catalyst.parser.AstBuilder.visitSingleStatement(AstBuilder.scala:71)
	at org.apache.spark.sql.catalyst.parser.AbstractSqlParser$$anonfun$parsePlan$1.apply(ParseDriver.scala:70)
	at org.apache.spark.sql.catalyst.parser.AbstractSqlParser$$anonfun$parsePlan$1.apply(ParseDriver.scala:69)
	at org.apache.spark.sql.catalyst.parser.AbstractSqlParser.parse(ParseDriver.scala:100)
	at org.apache.spark.sql.execution.SparkSqlParser.parse(SparkSqlParser.scala:48)
	at org.apache.spark.sql.catalyst.parser.AbstractSqlParser.parsePlan(ParseDriver.scala:69)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:642)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "<ipython-input-38-570df70eb32d>", line 47, in <module>
    spark.sql(f"CREATE EXTERNAL TABLE {table_name} USING PARQUET LOCATION '{parquet_path}'")
  File "/usr/local/spark/python/pyspark/sql/session.py", line 767, in sql
    return DataFrame(self._jsparkSession.sql(sqlQuery), self._wrapped)
  File "/usr/local/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/local/spark/python/pyspark/sql/utils.py", line 73, in deco
    raise ParseException(s.split(': ', 1)[1], stackTrace)
pyspark.sql.utils.ParseException: "\nOperation not allowed: CREATE EXTERNAL TABLE ... USING(line 1, pos 0)\n\n== SQL ==\nCREATE EXTERNAL TABLE flights_2006_staged USING PARQUET LOCATION 'hdfs://namenode:8020/data/parquet/flights_2006'\n^^^\n"

In [39]:
spark.sparkContext.cancelAllJobs()
spark.stop()